
$roboto-font: "Roboto", sans-serif;
$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktopxl: 1440px;

$color-destacado: #9B9A78;
$color-titles: #313131;
$color-texts: #909090;
$color-background: #FFFFFF;